VITE_EMAILJS_SERVICE_ID=your_service_id
VITE_EMAILJS_TEMPLATE_ID=your_template_id
VITE_EMAILJS_PUBLIC_KEY=your_public_key
VITE_HOTLINE_PHONE=0123456789
VITE_ARTICLE_IFRAME_URL=https://dantri.com.vn/giao-duc/nhung-vu-bao-luc-hoc-duong-rung-dong-nam-2025-4-hoc-sinh-tu-vong-20251231113657772.htm
VITE_ARTICLE_ORIGINAL_URL=https://moh.gov.vn/web/phong-chong-tai-nan-thuong-tich/thong-tin-tuyen-truyen-dao-tao/-/asset_publisher/y1HBDqztr86t/content/bao-luc-hoc-uong-nguyen-nhan-va-bien-phap-phong-tranh
VITE_GOOGLE_FORM_ACTION_URL=https://docs.google.com/forms/d/e/your-form-id/formResponse
VITE_GOOGLE_ENTRY_ROLE=entry.1111111111
VITE_GOOGLE_ENTRY_ISSUE_TYPE=entry.2222222222
VITE_GOOGLE_ENTRY_URGENCY=entry.3333333333
VITE_GOOGLE_ENTRY_TIME=entry.4444444444
VITE_GOOGLE_ENTRY_LOCATION=entry.5555555555
VITE_GOOGLE_ENTRY_DESCRIPTION=entry.6666666666
